.header{
  background-color: var(--color1);
  height: 8.5vw;
  display: flex;
  align-items: center;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu{
    @include pc{
      display: none;
    }
    @media screen and (max-width: 1370px) {
      display: block;
      width: 7vw;
    }
  }

  &__logo{
    width: 20vw;
    @include pc{
      width: auto;
    }
  }

  &__nav{
    align-items: center;
    color: #fff;
    font-size: 2.3vw;
    font-weight: 500;
    gap: 0 4vw;
    display: none;
    @media screen and (min-width: 1370px) {
      display: flex;
    }
    @include pc{
      font-size: 18px;
      gap: 0 32px;
    }

    &__btn-wrap{
      display: flex;
      align-items: center;
      gap: 0 3vw;
      margin-left: 7.8vw;
      @include pc{
        gap: 0 24px;
        margin-left: 60px;
      }
    }

    .nav__link{
      position: relative;
      display: flex;
      align-items: center;

    }
  }
}